DATABASE_URL=file:./dev.db
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=                       # openssl rand -base64 32
AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=
RESTRICT_MICROSOFT_DOMAIN=epitech.eu  # set to "false" to allow all
PROXMOX_HOST=https://192.168.1.100:8006
PROXMOX_TOKEN_ID=nextjs@pam!tek-prox
PROXMOX_TOKEN_SECRET=
PROXMOX_NODE=pve
PROXMOX_VERIFY_SSL=false
AGENT_BASE_URL=http://192.168.1.100:8765
AGENT_API_KEY=
LXC_DEFAULT_STORAGE=local-lvm
LXC_OS_TEMPLATES=local:vztmpl/debian-12-standard.tar.zst
LXC_VMID_MIN=200
LXC_VMID_MAX=999
